[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[color]
	ui = auto
[core]
	# See: http://help.github.com/dealing-with-lineendings/
	autocrlf = input
	editor = /usr/local/bin/mate -w
	pager = /usr/bin/less -+$LESS -FRX
[github]
	user = indrajitr
	#token = <github-token>
[user]
	name = Indrajit Raychaudhuri
	email = irc@indrajit.com
